.footer {
    background-color: var(--background);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    min-width: 450px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
