---
import Layout from '../layouts/Layout.astro';
import Social from '../components/Social.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Whats up">
    <head>
        <link rel="stylesheet" href="/css/index.css"> <!-- Link zur CSS-Datei -->
    </head>
    <main>
        <h1> Hi, I'm <span class="text-gradient">Nikos</span>.</h1>
        <div class="center">
            <span style={"margin-bottom: 1rem"}>I'm a <strong>backend developer</strong> and <strong> high school student</strong> from Germany.</span>
        </div>

        <ul class="social-list">
            <Social title="GitHub" href='https://github.com/nykoos' path='github.svg' color="#24292e"/>
            <Social title="Discord" href='https://discord.com/users/847352850812370954' path='discord.svg' color="#5865F2"/>
            <Social title="Email" href='mailto:contact@nykoos.dev' path='envelope.svg' color="#D44638"/>
        </ul>

        <div>
            <h2>Experiences</h2>
            <p> The languages and tools I've already worked with</p>
            <div class="project-group">
                <Experience name='Python' href='https://python.org/' path='python.svg'/>
                <Experience name='Golang' href='https://go.dev/' path='go.svg'/>
                <Experience name='Typescript' href='https://www.typescriptlang.org/' path='typescript.svg'/>
                <Experience name='Javascript' href='https://developer.mozilla.org/en-US/docs/Web/JavaScript' path='javascript.svg'/>
                <Experience name='HTML5' href='https://de.wikipedia.org/wiki/HTML5' path='html.svg'/>
                <Experience name='CSS3' href='https://de.wikipedia.org/wiki/Cascading_Style_Sheets#CSS3' path='css.svg'/>
                <Experience name='PostgreSQL' href='https://www.postgresql.org/' path='postgresql.svg'/>
                <Experience name='Redis' href='https://redis.io/' path='redis.svg'/>
                <Experience name='Docker' href='https://www.docker.com/' path='docker.svg'/>
            </div>
        </div>

        <div>
            <h2>Projects</h2>
            <p> Some of the projects I am currently working on or have worked on in the past</p>
            <div class="project-group">
            <Project title="ðŸª Cookie" href="https://cookieapp.me" desc="A Discord bot that offers many features for your server. Collect cookies and much more!" gradient_start='#dc9542' gradient_end="#13151A"/>
            <Project title="ðŸ BeeParty" desc="I've developed the Discord bot of this Minecraft server network." gradient_start='#ffbf27' gradient_end="#13151A"/>
            </div>
        </div>
    </main>
</Layout>
