---
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta property="og:title" content="Nikos Website" />
		<meta property="og:locale" content="en_US" />
		<meta name="description" content="Hey, this is my personal website." />
		<meta property="og:description" content="Hey, this is my personal website." />
		<meta property="og:image" content="https://nykoos.dev/avatar.png" />
		<meta property="og:url" content="https://nykoos.dev" />
		<meta name="theme-color" content="#8D46E7" />
		<meta name="twitter:card" content="summary" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/css/layout.css"> <!-- Link zur Layout-CSS-Datei -->
		<link rel="stylesheet" href="/css/social.css"> <!-- Link zur Social-CSS-Datei -->
		<link rel="stylesheet" href="/css/project.css"> <!-- Link zur Project-CSS-Datei -->
		<link rel="stylesheet" href="/css/footer.css"> <!-- Link zur Footer-CSS-Datei -->
		<link rel="stylesheet" href="/css/experience.css"> <!-- Link zur Experience-CSS-Datei -->
	</head>
	<body>
		<slot />
		<Footer/>
	</body>
</html>
